
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Règle pour la collection des étudiants
    match /students/{studentId} {
      // Les admins connectés peuvent tout lire, écrire, mettre à jour, supprimer
      // Les services serveur (auth == null) peuvent lire pour valider
      allow read, write: if request.auth != null;
      allow get, list: if request.auth == null;
    }
    
    // Règle pour la collection des classes
    match /classes/{classId} {
       // Les admins connectés peuvent tout lire, écrire, mettre à jour, supprimer
      allow read, write: if request.auth != null;
    }
    
    // Règle pour la collection des logs de l'API
    match /request-logs/{logId} {
        // L'API (non authentifiée en tant qu'utilisateur) peut créer des logs
        allow create: if request.auth == null;
        // Les admins connectés peuvent lire les logs
        allow read: if request.auth != null;
        // Personne ne peut modifier ou supprimer les logs pour garantir leur intégrité
        allow update, delete: if false;
    }
  }
}
